@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f5f9; /* Sets the default background color */
  font-family: 'Poppins', sans-serif; /* Sets the default font */
}

a {
  @apply no-underline text-gray-700 hover:text-gray-900;
}

button {
  @apply bg-red-600 text-white font-semibold px-4 py-2 rounded hover:bg-red-700 transition;
}
